:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--white:hsl(0, 0%, 100%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--Very-Light-Gray);
  padding-bottom: 5em;
  scroll-behavior: smooth;
}
@media screen and (min-width:1024px) {
  body::-webkit-scrollbar{
    width: 7px;
    background-color: var(--Blue);
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--Orange);
    border-radius: 5px;
  }
}
.main__title{
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .main__title{
    font-size: 2.5rem;
  }
}
.text--strong,
.card__title{
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}
.main__info{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1.5em;
  color: var(--Grayish-Blue);
}
@media screen and (min-width:1024px) {
  .main__info{
    width: 30%;
  }
}

.cards{
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:1024px) {
  .cards{
    width: 80%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
}

.card{
  height: 220px;
  overflow-y: hidden;
  position: relative;
  background-color:var(--white);
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow:  3px 5px 8px rgb( 0 0 0 /0.25);
}
@media screen and (min-width:1024px) {
  .card{
    height: 275px;
  }
  .card:first-child,
  .card:last-child{
    grid-row:  span 2;
    place-self: center center;
  }
  .card:nth-child(3){
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
}
.card__info{
  color: var(--Grayish-Blue);
}
.card__img{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card--cyan{
  border-top: 4px solid var(--Cyan);
}
.card--red{
  border-top: 4px solid var(--Red);
}
.card--orange{
  border-top: 4px solid var(--Orange);
}
.card--blue{
  border-top: 4px solid var(--Blue);
}

